<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(layoutManager.isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(layoutManager.isHandset$ | async) ? 'over' : 'side'"
      [opened]="(layoutManager.isHandset$ | async) === false">

      <!-- Menu -->
      <app-left-menu></app-left-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Top bar -->
    <app-top-bar></app-top-bar>

    <!-- Content -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
