<div class="buttons-container">
  <button mat-raised-button (click)="addFeatureLayer()">Add feature layer</button>
  <button mat-raised-button (click)="moveToCenter()">Center map</button>
  <button mat-raised-button (click)="toggleBasemapGallery()">Toggle BasemapGallery</button>
  <button mat-raised-button (click)="toggleSearch()">Toggle Search</button>
  <button mat-raised-button (click)="toggleLayerList()">Toggle layerList</button>
</div>

<div #searchAnchor class="search-anchor"></div>

<div class="map-container">
  <div #mapAnchor class="map-anchor"></div>
  <div #layerListAnchor class="layer-list-anchor" *ngIf="showLayerList"></div>
</div>
